/* #region Base styles */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    background-color: #fff;
    color: #2e2f42;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

address {
    font-style: normal;
}


/* #endregion */

/* #region Common */

.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    
}

.accent-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-shadow {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #endregion */

/* #region Button */
.btn {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;

}

button {
    font-family: inherit;
    cursor: pointer;
}
button:hover,
button:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}

/* #endregion */

/* #region Header */

.header {

}


.nav {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.nav-menu {}

.nav-item {}

.nav-link {}

.nav-link:hover,
.nav-link:focus {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;}

.contacts {}

.contacts-item {
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

.contacts-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}

/* #endregion */

/* #region hero */
.main {}

.hero {
    background-color: #2e2f42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: #fff;
    letter-spacing: 0.02em;
}

/* #endregion */

/* #region Features */
.features {}

.features-list {}

.features-item {}

.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}


.features-caption {
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

/* #endregion */

/* #region Our Team */


.ourteam {
    background-color: #f4f4fd;
}

.ourteam-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;     
    text-align: center;
}

.ourteam-list {}

.ourteam-item {
    background: #fff;
}

.ourteam-photo {}

.ourteam-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.ourteam-name-caption {
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-align: center;
    color: #434455;

}

/* #endregion */

/* #region Our Portfolio */
.portfolio {}

.ourportfolio-title {}

.portfolio-list {}

.portfolio-list-item {
    background-color: #fff;
}

.ourportfolio-caption {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion */

/* #region Footer */

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer {
    background-color: #2e2f42;
}

.footer-caption {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

/* #endregion */


/*  */