/* #region Base styles */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    background-color: #fff;
    color: #2e2f42;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

address {
    font-style: normal;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* #endregion */

/* #region Common */



.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
}

.section {
    margin: 120px 0;
}
.section-title {
    width: 412px;
    margin: 0 auto 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    
}

.accent-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.container {

    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    display: inline-flex;
    align-items: center;

    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-shadow {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #endregion */

/* #region Button */


button {
    font-family: inherit;
    padding: 0;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
}
button:hover,
button:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}

/* #endregion */

/* #region Header */

.header {
    border-bottom: 1px solid #e7e9fc.;
}

header > .container {
    display: flex;
    align-items: center;
}


.nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-item {}

.nav-link {
    display: block;
    padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contacts {
    display: flex;
    align-items: center;
    gap: 40px;
    
    margin-left: auto;
    align-items: center;
}

.contacts-item {
    display: flex;
    align-items: center;

    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

.contacts-link {
    display: flex;
    align-items: center;
  

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}

/* #endregion */

/* #region Hero */
.main {}

.hero {
    background-color: #2e2f42;
    padding: 188px 0;

    
}

.hero-block {
    max-width: 496px;
    margin: 0 auto;
}

.btn {
    display: block;
    margin: 0 auto;
    margin-top: 48px;

    padding: 16px 32px;
    border: none;
    border-radius: 4px;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;

}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: #fff;
    letter-spacing: 0.02em;
}

/* #endregion */

/* #region Features */
.features {
}

.features-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.features-item {}

.features-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features-caption {
    margin-bottom: 8px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

/* #endregion */

/* #region Our Team */


.ourteam {
    background-color: #f4f4fd;
    width: 100%;
    padding: 120px 0;
}

.ourteam-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;     
    text-align: center;
}

.ourteam-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.ourteam-item {
    width: calc((100% - 24px * 3) / 4);

    background: #fff;
}
    

.ourteam-photo {}

.ourteam-wrapper{

    border: 1px solid #e7e9fc;;
    border-top: none;
    border-radius: 0 0 4px 4px;

    padding: 32px 16px;
        
} 

.ourteam-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.ourteam-name-caption {
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-align: center;
    color: #434455;

}

/* #endregion */

/* #region Our Portfolio */
.portfolio {}

.ourportfolio-title {}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.portfolio-list-item {
    background-color: #fff;

    width: calc((100% - 24px * 2) / 3);
}

.portfolio-wrapper {
    border: 1px solid #e7e9fc;
    border-top: none;

    padding: 32px 16px;

}

.ourportfolio-caption {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion */

/* #region Footer */

.logo-footer {
    margin-bottom: 16px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.footer {
    padding: 100px 0;
    background-color: #2e2f42;
}
.footer-container {
    display: flex;
    justify-content: flex-start;
}
.footer-info {
    max-width: 264px;
}
.footer-caption {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

/* #endregion */


/*  */